{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/cm/tarsussetting

    Container to display tarsus information on the course page.

    Example context (json):
    {
        "activityname": "Course announcements",
        "groupicon": "i/groupv",
        "groupalt": "Visible groups"
    }
}}

{{#isInteractive}}
    {{#dropwdown}}
        {{< core/local/dropdown/status}}
            {{$ buttonclasses }}
                {{#autohide}} v-parent-focus {{/autohide}}
                tarsus-information btn btn-icon icon-no-margin
            {{/ buttonclasses }}
            {{$ buttoncontent }}
                {{{groupicon}}}
                <span class="tarsus-icon-info">{{groupalt}}</span>
            {{/ buttoncontent }}
        {{/ core/local/dropdown/status}}
    {{/dropwdown}}
{{/isInteractive}}
{{^isInteractive}}
    <div
            data-region="tarsus-information"
            data-activityname="{{activityname}}"
            class="tarsus-information d-flex align-items-center justify-content-center icon-no-margin"
    >
        <button class="v-parent-focus tarsus-information btn btn-icon icon-no-margin">
        {{#pix}}i/search, core, {{#str}}frontend_cm_tarsus_status, local_lai_connector{{/str}}{{/pix}}
        <div class="tarsus-icon-info ml-1">{{#str}}frontend_cm_tarsus_status, local_lai_connector{{/str}}</div>
        </button>



    </div>
{{/isInteractive}}
